#headline {
text-align: center;
padding: 50px 0px;
}

#headline p {
color: #999;
}

h1 {
font-size: 6em;
font-family: 'Chango', cursive;
margin-bottom: 20px;
margin-top: 15px;
}

#content_box {
background-color: #eee;
border: 1px solid #bbb;
border-radius: 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
box-shadow: 2px 2px 1px #eee;
}

#content_box canvas {
border: 1px solid red;
height: 189px;
margin: 5px 0px;
}

#form_box {
text-align: center;
}

#form_box form {
margin-top: 50px;
}

label {
margin-bottom: -10px;
}

/* TODO - remove */
#snail {
padding: 20px 0px;
}

.error {
color: #f00
}
