#headline {
background-color: #eee;
text-align: center;
padding: 50px 0px;
margin-bottom: 20px;
box-shadow: 2px 2px 1px #bbb;
}

h1 {
font-size: 5em;
font-family: 'Chango', cursive;
margin-bottom: 20px;
margin-top: 15px;
}

#content_box {
background-color: #bbb;
box-shadow: 2px 2px 1px #eee;
}

#content_box canvas {
border: 1px solid red;
height: 189px;
}

#form_box {
text-align: center;
}

#form_box form {
margin-top: 20px;
}

label {
margin-bottom: -10px;
}

#snail {
padding: 20px 0px;
}
