<!DOCTYPE html>
<html>
<head>
    <title>Zombies</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/960.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
    {% block extra_css %}{% endblock %}
    {% block critical_js %}{% endblock %}
</head>

<body>

<div id="error_modal" class="modal hide">
    <div class="modal-header">
        <h3>Oops! An error has occurred.</h3>
    </div>
    <div class="modal-body">
        <p>It looks like that <span id="error_reason"></span</p>
        <p id="error_details">You will now be redirected to the main page where you can create or join a different game.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary btn-success" data-dismiss="modal">Fine</a>
    </div>
</div>

<div class="container_12">

<div class="grid_12" id="headline">
    <h1><a href="/">Snails</a></h1>
    <p>&ldquo;The best game of 2012&rdquo; -- anonymous</p>
</div>

<div class="grid_12" id="content_box">
    {% block content %}{% endblock %}
</div>

</div>

<!-- At th end of the file so that rendering is not slowed down by HTTP requests. -->
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
{% block extra_js %}{% endblock %}

</body>
</html>
