{% extends 'game/base.html' %}

{% block extra_js %}
    <script>
    $(document).ready(function() {
        $.getJSON('/players-in-game', function(data) {
            var items = [];

            $.each(data, function(key, val) {
                items.push('<p>' + val + '</p>');
            });

            $('#player_list').html(items.toString());
        });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="grid_4"><p>&nbsp;</p></div>

    <div class="grid_4" style="text-align: center; padding-top: 10px">
        <p>List of Players:</p>
        
        <div id="player_list" style="width: 100%;border: 1px solid #bbb; ">
        </div>

        <p>
        <br> 

        <a class="btn btn-danger" id="btn_start_game" href="/game">
            <i class="icon-ok icon-white"></i>&nbsp;Start the Game
        </a>
        </p>
    </div>
{% endblock %}
