{% extends 'game/base.html' %}

{% block extra_js %}
    <script type="text/javascript" src="/static/js/create-game.js"></script>
{% endblock %}

{% block content %}
    <div class="grid_4 push_4" style="text-align: center; padding-top: 10px">
        <p>List of Players:</p>
        
        <div id="player_list"></div>

        <p><a class="btn btn-danger" id="btn_start_game" href="{% url start_game %}">
            <i class="icon-ok icon-white"></i>&nbsp;Start the Game
        </a></p>
    </div>
{% endblock %}
