{% extends 'game/base.html' %}

{% block extra_js %}
<script type = "text/javascript" src="/static/js/paper.js"></script>
<script type = "text/javascript" src="/static/js/entity.js"></script>
<script type = "text/javascript">
paper.install(window);
window.onload = function() {
    paper.setup('canvas');
    entitySetup();

    //var snail = new SnailGroup(5);
    //var snailmoo = new SnailGroup(5);
    var width = document.getElementById("canvas").width;
    var height = document.getElementById("canvas").height;

    var mainRoom = new Room(view.center.add(new Point(0, 650)));
    var snailmoo = new Ghost('red', mainRoom);

    var scaleCount = 0; 
    var weight = 1;

    view.onFrame = function(event) {
	if (Key.isDown('w')) {
	}
	if (Key.isDown('a')) {
	}
	if (Key.isDown('s')) {
	}
	if (Key.isDown('d')) {
	}
        if (Key.isDown('i') && (scaleCount < 10)) {
            project.activeLayer.scale(1.25, view.center);
            weight *= 0.8;
            scaleCount++;
        }
        if (Key.isDown('o') && (scaleCount > -5)) {
            project.activeLayer.scale(0.8, view.center);
            weight *= 1.25;
            scaleCount--;
        }
        if (Key.isDown('right')) {
            scroll(new Point(-100 * weight, 0));
            snailmoo.pickUp();
        }
        if (Key.isDown('left')) {
            scroll(new Point(100 * weight, 0));
            snailmoo.drop();
        }
        if (Key.isDown('up')) {
            scroll(new Point(0, 100 * weight));
        }
        if (Key.isDown('down')) {
            scroll(new Point(0, -100 * weight));
        }
        snailUpdate();
        //snail.move();
        snailmoo.move();
    }

    var click = true;
    tool.onMouseDown = function(event) {
        if (click) {
            snailmoo.setDestination(mainRoom.position);
            //snail.setDestination(event.point);
        } else {
            snailmoo.setDestination(event.point);
        }
        click = !click;
    }
    scroll = function(movement) {
        if (!project.activeLayer.translate(movement).bounds.contains(view.center)) {
            project.activeLayer.translate(new Point(0,0).subtract(movement));
        }
    }

    tool.onResize = function(event) {
    	view.viewSize = [width, height]; 
    }
}
</script>
{% endblock %}

{% block content %}
<canvas id="canvas" class="grid_12" style="height: 800px" resize></canvas>

<img src="/static/img/snail_teeth.png" class="sprite" id="snail" />
<img src="/static/img/larger_houseplan.png" class="sprite" id="house" />
<img src="/static/img/ghost_gun.png" class="sprite" id="ghost" />
<img src="/static/img/ghost_ammobox.png" class="sprite" id="ghostbox" />
<img src="/static/img/ammobox.png" class="sprite" id="ammobox" />
{% endblock %}
