{% extends 'game/base.html' %}

{% block extra_js %}
    <script type = "text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% block content %}
    <div class="grid_1"><p>&nbsp;</p></div>
    
    <!--<canvas class="grid_4" id="index_canvas">
    </canvas>-->
    <p class="grid_3 push_1" id="index_snail">
        <img src="/static/img/snail_teeth.png" />
    </p>
    
    <div class="grid_5 push_1" id="form_box">
        <form action="/" method="post" id="login_form">{% csrf_token %}
            {{ form.create_game.as_hidden }}
            {{ form.player_name.label_tag }}<br>
            {{ form.player_name }}

            {% if form.player_name.errors %}
                <script>
                moveLoginForm();
                </script>
                {% for error in form.player_name.errors %}
                    <p class="error">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

            <br>
            <a class="btn btn-success" id="btn_create_game" href="#">
                <i class="icon-edit icon-white"></i>&nbsp;Create a Game
            </a>
            <a class="btn btn-success" id="btn_join_game" href="#">
                <i class="icon-user icon-white"></i>&nbsp;Join a Game
            </a>
        </form>
    </div>
    
    <div class="grid_1"><p>&nbsp;</p></div>
{% endblock %}
