{% extends 'game/base.html' %}

{% block extra_css %}
    <link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
{% endblock %}

{% block extra_js %}
    <script type = "text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% block content %}
    <canvas class="grid_4 alpha">
    </canvas>
    
    <div class="grid_1"><p>&nbsp;</p></div>

    <div class="grid_5 omega" id="form_box">
        <form action="/" method="post" id="login_form">{% csrf_token %}
            {{ form.create_game.as_hidden }}
            {{ form.player_name.label_tag }}<br>
            {{ form.player_name }}

            {% if form.player_name.errors %}
                <script>
                moveLoginForm();
                </script>
                {% for error in form.player_name.errors %}
                    <p class="error">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

            <br>
            <a class="btn btn-danger" id="btn_create_game" href="#">
                <i class="icon-edit icon-white"></i>&nbsp;Create a Game
            </a>
            <a class="btn btn-danger" id="btn_join_game" href="#">
                <i class="icon-user icon-white"></i>&nbsp;Join a Game
            </a>
        </form>
    </div>
{% endblock %}
