<!DOCTYPE html>
<html>
<head>
    <title>Zombies</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/960.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/welcome.css">
    <link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
    <script type = "text/javascript" src="/static/js/paper.js"></script>
</head>

<body>

<div class="container_12">

<div class="grid_12" id="headline">
    <h1>Snails</h1>
    <p>&ldquo;The best game of 2012&rdquo; -- anonymous</p>
</div>

<div class="grid_10 prefix_1 suffix_1" id="content_box">
    <canvas class="grid_4 alpha">
    </canvas>
    
    <div class="grid_1"><p>&nbsp;</p></div>

    <div class="grid_5 omega" id="form_box">
        <form>
        <label>Player Name:</label><br><input type="text">
        <br>
        <a class="btn btn-danger" href="#"><i class="icon-edit icon-white"></i>&nbsp;Create a Game</a>
        <a class="btn btn-danger" href="#"><i class="icon-user icon-white"></i>&nbsp;Join a Game</a>
        </form>
    </div>
</div>

</div>

</body>

</html>
