{% extends 'game/base.html' %}

{% block extra_js %}
    <script type="text/javascript" src="/static/js/join-game.js"></script>
{% endblock %}

{% block error_modal %}
    <div class="modal-header">
        <h3>Oops! An error has occurred.</h3>
    </div>
    <div class="modal-body">
        <p>It looks like that <span id="error_reason"></span</p>
        <p id="error_details">You will now be redirected to the main page where you can create or join a different game.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary btn-success" data-dismiss="modal">Fine</a>
    </div>
{% endblock %}

{% block content %}
    <div class="grid_5 push_1" style="text-align: center; padding-top: 10px">
        <p>List of Games:</p>
        
        <div id="game_list">
            <p>No available games</p>
        </div>
    </div>
    
    <div class="grid_4 push_2" id="joined_game_info">
        <p style="text-align: left">You Joined: <span id="game_name"></span></p>

        <p id="joined_game_instructions">Please wait for the game master to start the game.</p>
        
        <p>List of Players:</p>
        
        <div id="player_list">
            <p>No game joined</p>
        </div>
    </div>
{% endblock %}
